In [22]:
from shapely.geometry import Point
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster

In [23]:
Derecho_911=pd.read_csv('../data/911_Phone Calls_Derecho_050320_050420.csv')
Tornado_911=pd.read_csv('../data/911_Phone_Calls_Tornado_030320.csv')
Derecho_incident=pd.read_csv('../data/Computer Aided Dispatch Data_Derecho Incidents 050320-050420.csv')
Tornodo_incident=pd.read_csv('../data/Computer Aided Dispatch Data_Tornado Incidents 030320.csv')

In [34]:
Derecho_911

,Seizure DateTime,CallTypeId,ALI Latitude,ALI Longitude,Cell Tower Address
0,5/3/2020 16:30,911 Calls,36.247802,-86.716847,WIRELESS CALLER
1,5/3/2020 16:30,911 Calls,36.143108,-86.800621,1161 21ST AV S - SE
2,5/3/2020 16:30,911 Calls,36.100516,-87.056329,8013 C MCCRORY LN - N
3,5/3/2020 16:30,911 Calls,36.130021,-86.927819,5758 RIVER RD - SW
4,5/3/2020 16:31,911 Calls,36.142380,-86.881882,3744B ANNEX AVE - SE
...,...,...,...,...,...
1544,5/4/2020 0:18,911 Calls,36.131694,-86.770535,1823-C 12TH AV - SECTOR SE S
1545,5/4/2020 0:22,911 Calls,36.042237,-86.743455,5244-C EDMONSON PIKE - SECTOR SE
1546,5/4/2020 0:25,911 Calls,36.077664,-86.655607,2747-B MURFREESBORO PKE - SECTOR NW
1547,5/4/2020 0:29,911 Calls,36.024706,-86.743562,302 SUMMIT VIEW DR - E
1548,5/4/2020 0:29,911 Calls,NaN,NaN,2014 QUAIL HOLLOW CIR

In [ ]:
Derecho_911[column]=Derecho_911.rename({'Seizure DateTime':'time',})

In [25]:
Tornado_911.head(5)

,Seizure DateTime,CallTypeId,ALI Latitude,ALI Longitude,Cell Tower Address
0,3/3/2020 0:34,911 Calls,36.072708,-86.665779,620 Richards RD - N Sector
1,3/3/2020 0:36,911 Calls,36.159634,-86.841904,4507D KENTUCKY AV - SE
2,3/3/2020 0:36,911 Calls,36.264153,-86.708862,329 THELMA ST - S Sector
3,3/3/2020 0:36,911 Calls,36.156970,-86.880736,526 FOUNDRY DR
4,3/3/2020 0:36,911 Calls,36.178839,-86.692286,5007B RUSKIN AVE - N

In [26]:
## 5/3/2020 4:30:00 PM  To:  5/4/2020 12:30:00 

Derecho_incident.head(5)

,IncidentDate,Location,Latitude1,Longitude1,IncidentTypeDescription1
0,5/3/2020 16:31,901 KENWICK CT W,36.046877,-86.962526,ELECTRICAL HAZARD
1,5/3/2020 16:32,8036 ARBOR DR,36.082491,-86.940680,ELECTRICAL HAZARD
2,5/3/2020 16:32,119 DUE WEST AV E,36.248029,-86.716875,NOT ALERT COPD
3,5/3/2020 16:33,630 GALLATIN PKE S,36.256491,-86.714817,ABDOMINAL PAIN
4,5/3/2020 16:33,615 W HILLWOOD DR,36.129690,-86.879834,ELECTRICAL HAZARD

In [27]:
##From: 3/3/2020 12:30:00 AM  To:  3/3/2020 5:00:00 AM
Tornodo_incident.head()

,IncidentDate,Location,Latitude1,Longitude1,IncidentTypeDescription1
0,3/3/2020 0:36,6205 COCKRILL BEND CIR,36.182002,-86.894052,GENERAL ALARM COMMERCIAL INDUSTRIAL BUILD
1,3/3/2020 0:37,7337 COCKRILL BEND BLVD,36.175666,-86.894978,GENERAL ALARM COMMERCIAL INDUSTRIAL BUILD
2,3/3/2020 0:38,110 TUNE AIRPORT DR,36.179299,-86.883727,STRUCTURE FIRE COMMERCIAL INDUSTRIAL
3,3/3/2020 0:39,555 MARRIOTT DR,36.151108,-86.689921,GENERAL ALARM COMMERCIAL INDUSTRIAL BUILD
4,3/3/2020 0:39,1414 COUNTY HOSPITAL RD,36.177926,-86.845934,GENERAL ALARM COMMERCIAL INDUSTRIAL BUILD

In [28]:
Tornodo_incident.tail(5)

,IncidentDate,Location,Latitude1,Longitude1,IncidentTypeDescription1
255,3/3/2020 4:53,1616 23RD AV N,36.175739,-86.813173,WIRES DOWN WITH NO SMOKE OR ARCING POWER DISCO...
256,3/3/2020 4:56,5610 OLD HICKORY BLVD,36.180487,-86.601466,LARGE BUILDING INVESTIGATION
257,3/3/2020 4:57,2903 MORNINGSIDE DR,36.223554,-86.757949,CHEST PAIN - ABNORMAL BREATHING
258,3/3/2020 4:57,1730 KELLOW ST,36.189445,-86.813466,ABNORMAL BREATHING OTHER LUNG PROBLEMS
259,3/3/2020 4:57,I24 W / HICKORY HOLLOW PKWY,36.039720,-86.649099,UNKNOWN STATUS: